In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.2f}'.format

In [334]:
df=pd.read_csv("C:\\Users\Snow\Downloads\Valiens_UA_Oct5_16.csv")

In [335]:
df.head()

,AMP_ID,EVENT_TIME,THE_DATE,LAST_SESSION_END,CURRENT_LEVEL_NUMBER,CURRENT_LEVEL_FILENAME,INSTALL_DATE,ACTIVE_DAYS,TOTAL_SESSIONS,TOTAL_MINUTE_PLAYED,...,HARDCASH_EARNED,HARDCASH_SPENT,NB_STAR_CHESTS_OPENED,NB_PROGRESSION_CHEST_OPENED,STAR_EARNED,IS_COPPA,CURRENT_LEVEL_VERSION_NOTES,SEED_UTILITY_ID,SEED_GENERATOR_ID,CURRENT_LEVEL_AVAILABLE
0,115274803114,2019-10-09 19:10:40,2019-10-09,2019-10-09 19:10:40,26,vb_re_bombandcages_a,2019-10-05,4,8,76,...,(null),(null),(null),(null),(null),false,(null),1,5,(null)
1,115517106206,2019-10-11 22:45:45,2019-10-11,2019-10-11 22:45:45,33,me_tut_rainbowfruit_a,2019-10-07,4,6,135,...,(null),(null),(null),(null),(null),false,(null),0,104,(null)
2,115849545211,2019-10-12 23:59:15,2019-10-12,2019-10-12 23:59:15,24,as_re_thetube_a,2019-10-08,2,2,39,...,(null),(null),(null),(null),(null),false,(null),0,1571,(null)
3,115274803114,2019-10-12 19:00:34,2019-10-12,2019-10-12 19:00:34,30,vb_re_heartshaped_a,2019-10-05,6,12,106,...,(null),(null),(null),(null),(null),false,(null),0,20,(null)
4,116233294067,2019-10-13 14:31:31,2019-10-13,2019-10-13 14:31:31,19,me_bu_toughcorn_a,2019-10-09,3,4,66,...,(null),(null),(null),(null),(null),false,(null),0,2,(null)

In [320]:
#what we have
print(df.columns.values)

['AMP_ID' 'EVENT_TIME' 'THE_DATE' 'LAST_SESSION_END'
 'CURRENT_LEVEL_NUMBER' 'CURRENT_LEVEL_FILENAME' 'INSTALL_DATE'
 'ACTIVE_DAYS' 'TOTAL_SESSIONS' 'TOTAL_MINUTE_PLAYED' 'IS_OFFLINE'
 'NB_HOURS_OFFLINE' 'IS_CHEAT_BUILD' 'CURRENT_LEVEL_VERSION'
 'LEVEL_ATTEMPT' 'LEVEL_SEED_GENERATOR_ATTEMPT'
 'LEVEL_SEED_UTILITY_ATTEMPT' 'LEVEL_SEED_UTILITY_AND_GENERATOR_ATTEMPT'
 'CURRENT_LEVEL_UTILITY_SEED_ID' 'CURRENT_LEVEL_GENERATOR_ID'
 'CURRENT_LIVES_BALANCE' 'TOTAL_AMOUNT_SPENT' 'HARDCASH_BALANCE'
 'STAR_BALANCE' 'IS_OFFLINE_SESSION_ID' 'ACCOUNT_AGE' 'TOTAL_NB_PURCHASE'
 'TOTAL_LEVEL_ATTEMPT' 'HARDCASH_EARNED' 'HARDCASH_SPENT'
 'NB_STAR_CHESTS_OPENED' 'NB_PROGRESSION_CHEST_OPENED' 'STAR_EARNED'
 'IS_COPPA' 'CURRENT_LEVEL_VERSION_NOTES' 'SEED_UTILITY_ID'
 'SEED_GENERATOR_ID' 'CURRENT_LEVEL_AVAILABLE']

In [321]:
#what we don't need - filter data
df.drop(['EVENT_TIME','LAST_SESSION_END', 'INSTALL_DATE','IS_CHEAT_BUILD', 'CURRENT_LEVEL_VERSION',
         'CURRENT_LEVEL_UTILITY_SEED_ID','ACCOUNT_AGE',
         'LEVEL_SEED_GENERATOR_ATTEMPT','LEVEL_SEED_UTILITY_ATTEMPT', 'LEVEL_SEED_UTILITY_AND_GENERATOR_ATTEMPT',
         'CURRENT_LEVEL_GENERATOR_ID','NB_STAR_CHESTS_OPENED', 'NB_PROGRESSION_CHEST_OPENED', 'STAR_EARNED',
         'IS_COPPA','CURRENT_LEVEL_VERSION_NOTES', 'SEED_UTILITY_ID',
         'SEED_GENERATOR_ID','CURRENT_LEVEL_AVAILABLE','TOTAL_NB_PURCHASE', 'TOTAL_LEVEL_ATTEMPT',
         'HARDCASH_EARNED', 'HARDCASH_SPENT','TOTAL_AMOUNT_SPENT'], axis=1, inplace=True)

In [336]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 38 columns):
AMP_ID                                      550 non-null int64
EVENT_TIME                                  550 non-null object
THE_DATE                                    550 non-null object
LAST_SESSION_END                            550 non-null object
CURRENT_LEVEL_NUMBER                        550 non-null int64
CURRENT_LEVEL_FILENAME                      550 non-null object
INSTALL_DATE                                550 non-null object
ACTIVE_DAYS                                 550 non-null int64
TOTAL_SESSIONS                              550 non-null int64
TOTAL_MINUTE_PLAYED                         550 non-null object
IS_OFFLINE                                  550 non-null object
NB_HOURS_OFFLINE                            550 non-null object
IS_CHEAT_BUILD                              550 non-null bool
CURRENT_LEVEL_VERSION                       550 non-null int64
LEVEL_ATTEMPT                               550 non-null object
LEVEL_SEED_GENERATOR_ATTEMPT                550 non-null object
LEVEL_SEED_UTILITY_ATTEMPT                  550 non-null object
LEVEL_SEED_UTILITY_AND_GENERATOR_ATTEMPT    550 non-null object
CURRENT_LEVEL_UTILITY_SEED_ID               550 non-null object
CURRENT_LEVEL_GENERATOR_ID                  550 non-null object
CURRENT_LIVES_BALANCE                       550 non-null int64
TOTAL_AMOUNT_SPENT                          550 non-null object
HARDCASH_BALANCE                            550 non-null int64
STAR_BALANCE                                550 non-null int64
IS_OFFLINE_SESSION_ID                       550 non-null object
ACCOUNT_AGE                                 550 non-null object
TOTAL_NB_PURCHASE                           550 non-null object
TOTAL_LEVEL_ATTEMPT                         550 non-null object
HARDCASH_EARNED                             550 non-null object
HARDCASH_SPENT                              550 non-null object
NB_STAR_CHESTS_OPENED                       550 non-null object
NB_PROGRESSION_CHEST_OPENED                 550 non-null object
STAR_EARNED                                 550 non-null object
IS_COPPA                                    550 non-null object
CURRENT_LEVEL_VERSION_NOTES                 550 non-null object
SEED_UTILITY_ID                             550 non-null object
SEED_GENERATOR_ID                           550 non-null object
CURRENT_LEVEL_AVAILABLE                     550 non-null object
dtypes: bool(1), int64(8), object(29)
memory usage: 159.6+ KB

In [323]:
df.dtypes

AMP_ID                     int64
THE_DATE                  object
CURRENT_LEVEL_NUMBER       int64
CURRENT_LEVEL_FILENAME    object
ACTIVE_DAYS                int64
TOTAL_SESSIONS             int64
TOTAL_MINUTE_PLAYED       object
IS_OFFLINE                object
NB_HOURS_OFFLINE          object
LEVEL_ATTEMPT             object
CURRENT_LIVES_BALANCE      int64
HARDCASH_BALANCE           int64
STAR_BALANCE               int64
IS_OFFLINE_SESSION_ID     object
dtype: object

In [324]:
df["THE_DATE"] = pd.to_datetime(df["THE_DATE"])

In [325]:
df["AMP_ID"]=df["AMP_ID"].apply(str)

In [326]:
df.NB_HOURS_OFFLINE=df.NB_HOURS_OFFLINE.map({'(null)':0})
df.NB_HOURS_OFFLINE=df.NB_HOURS_OFFLINE.apply(float)
df.NB_HOURS_OFFLINE=df.NB_HOURS_OFFLINE*60*60

In [313]:
df.TOTAL_MINUTE_PLAYED=df.TOTAL_MINUTE_PLAYED.map({'(null)':0})
df["TOTAL_MINUTE_PLAYED"]=df["TOTAL_MINUTE_PLAYED"].apply(int)

ValueError: cannot convert float NaN to integer

In [338]:
df.LEVEL_ATTEMPT =df.LEVEL_ATTEMPT.apply(int)

ValueError: invalid literal for int() with base 10: '(null)'

In [ ]:
#drop a row based on a condition
#df.drop(df[df.TOTAL_AMOUNT_SPENT == '(null)'].index, inplace=True)

In [339]:
df.describe()

,AMP_ID,CURRENT_LEVEL_NUMBER,ACTIVE_DAYS,TOTAL_SESSIONS,CURRENT_LEVEL_VERSION,CURRENT_LIVES_BALANCE,HARDCASH_BALANCE,STAR_BALANCE
count,550.00,550.00,550.00,550.00,550.00,550.00,550.00,550.00
mean,"115,123,818,817.02",20.86,5.12,13.94,4.19,4.07,97.33,11.11
std,"4,005,611,265.07",22.87,19.32,64.81,2.33,1.70,159.67,6.99
min,"93,307,390,032.00",1.00,1.00,1.00,-1.00,0.00,0.00,0.00
25%,"115,274,803,114.00",9.00,1.00,1.00,2.00,4.00,46.25,5.00
50%,"115,520,650,489.00",14.00,1.00,2.00,4.00,5.00,100.00,12.00
75%,"116,649,247,511.00",24.00,2.00,4.00,6.00,5.00,115.00,18.00
max,"117,402,493,768.00",111.00,133.00,449.00,9.00,5.00,"2,700.00",21.00

In [329]:
df.TOTAL_MINUTE_PLAYED.describe()

count     550
unique    155
top         5
freq       17
Name: TOTAL_MINUTE_PLAYED, dtype: object

In [328]:
categorical_df = df.select_dtypes(include=['object']).copy()
print(categorical_df.head())


print(categorical_df.isnull().sum())

         AMP_ID CURRENT_LEVEL_FILENAME TOTAL_MINUTE_PLAYED IS_OFFLINE  \
0  115274803114   vb_re_bombandcages_a                  76      false
1  115517106206  me_tut_rainbowfruit_a                 135       true
2  115849545211        as_re_thetube_a                  39      false
3  115274803114    vb_re_heartshaped_a                 106      false
4  116233294067      me_bu_toughcorn_a                  66      false

  LEVEL_ATTEMPT IS_OFFLINE_SESSION_ID
0             7                     0
1             3                     1
2             1                     0
3             5                     0
4             6                     0
AMP_ID                    0
CURRENT_LEVEL_FILENAME    0
TOTAL_MINUTE_PLAYED       0
IS_OFFLINE                0
LEVEL_ATTEMPT             0
IS_OFFLINE_SESSION_ID     0
dtype: int64

In [330]:
df.median()

AMP_ID                  115,520,650,489.00
CURRENT_LEVEL_NUMBER                 14.00
ACTIVE_DAYS                           1.00
TOTAL_SESSIONS                        2.00
NB_HOURS_OFFLINE                      0.00
CURRENT_LIVES_BALANCE                 5.00
HARDCASH_BALANCE                    100.00
STAR_BALANCE                         12.00
dtype: float64

In [ ]:
df["day_of_week"] = df["THE_DATE"].dt.day_name()
df.groupby('day_of_week')[["AMP_ID"]].count().sort_values("AMP_ID", ascending=False)

In [ ]:
fig, ax = plt.subplots(figsize=(16,8))
df.groupby('THE_DATE').count()['AMP_ID'].plot(ax=ax)

fig, ax = plt.subplots(figsize=(16,8))
df.groupby('CURRENT_LEVEL_NUMBER').count()['AMP_ID'].plot(ax=ax)

In [ ]:
a=(df.groupby('TOTAL_SESSIONS')[["AMP_ID"]].count()) 
a

In [ ]:
filter1=df.groupby('TOTAL_SESSIONS')[["AMP_ID"]].count()>10
filter1
a.where(filter1).dropna()

In [331]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [356]:
#split dataset in features and target variable
feature_cols = ['HARDCASH_BALANCE', 'STAR_BALANCE']
X = df[feature_cols] # Features
y = df.IS_OFFLINE  # Target variable

In [357]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [358]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [359]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9333333333333333

In [360]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['false','true'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('diabetes.png')
Image(graph.create_png())

IndexError: list index out of range