In [40]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.2f}'.format

from scipy.stats import linregress

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [21]:
df=pd.read_csv("D:\\Export\VA_21Nov.csv",encoding='latin-1')
df1=pd.read_csv("D:\\Export\VA1.csv",encoding='latin-1')

In [22]:
df.head()

,EVENT_DATE,UID,LEVEL,LEVEL_FILE_NAME,WINS,LOSTS,QUITS,NEXT_DAY,DIFF,D1,...,OBJECTIVES_LEFT,OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE,INSTALL_DATE,VERSION_NAME,START_VERSION,PLATFORM,COUNTRY,CITY
0,2019-10-04,115131881271,18,vb_re_donutcage_a,1,0,0,2019-10-04,0,0,...,0,0,0,0,2019-10-04,1.2.2,1.2.2,Android,Canada,Toronto
1,2019-10-04,115131881271,8,me_re_cage2linebreakers_a,1,0,0,2019-10-04,0,0,...,0,0,0,0,2019-10-04,1.2.2,1.2.2,Android,Canada,Toronto
2,2019-10-04,115131881271,14,as_base_tree_a,1,0,0,2019-10-04,0,0,...,0,0,0,0,2019-10-04,1.2.2,1.2.2,Android,Canada,Toronto
3,2019-10-04,115131881271,4,as_tu_match5_l_or_t_a,1,0,0,2019-10-04,0,0,...,0,0,0,0,2019-10-04,1.2.2,1.2.2,Android,Canada,Toronto
4,2019-10-04,115131881271,11,me_re_jellylvl2_a,1,0,0,2019-10-04,0,0,...,0,0,0,0,2019-10-04,1.2.2,1.2.2,Android,Canada,Toronto

In [23]:
df1.head()

,EVENT_DATE,UID,MAX_LEVEL,WINS,LOSTS,QUITS,NEXT_DAY,DIFF,DAY1,DAY2,...,OBJECTIVES_LEFT,OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE,INSTALL_DATE,VERSION_NAME,START_VERSION,PLATFORM,COUNTRY,CITY
0,2019-10-13,116978073442,5,5,0,0,(null),(null),0,0,...,0,0,0,0,2019-10-13,1.2.2,1.2.2,Android,Canada,Edmonton
1,2019-10-08,115611001132,5,5,0,0,(null),(null),0,0,...,0,0,0,0,2019-10-07,1.2.2,1.2.2,Android,Canada,New Glasgow
2,2019-10-09,115976047205,13,12,1,0,2019-10-10,1,1,0,...,2,0,0,0,2019-10-08,1.2.2,1.2.2,Android,Canada,Gold River
3,2019-10-10,115976047205,14,2,5,0,2019-10-12,2,0,1,...,9,0,0,0,2019-10-08,1.2.2,1.2.2,Android,Canada,Gold River
4,2019-10-12,115976047205,17,2,2,0,(null),(null),0,0,...,5,0,0,0,2019-10-08,1.2.2,1.2.2,Android,Canada,Gold River

In [27]:
df.describe()

,LEVEL,WINS,LOSTS,QUITS,D1,D2,D3,D7,D28,ATTEMPTS,...,TIME_MIN,EXTRA_MOVES_USED,EXTRA_MOVES_BOUGHT,BOOSTERS_SELECTED,TOOLS_USED,RESHUFFLE,OBJECTIVES_LEFT,OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE
count,"8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00",...,"8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00","8,194.00"
mean,13.27,0.94,0.33,0.01,0.03,0.01,0.01,0.00,0.00,1.30,...,2.19,0.08,0.14,0.11,0.04,0.07,1.35,0.05,0.00,0.00
std,15.39,0.24,0.97,0.13,0.18,0.09,0.07,0.02,0.00,0.92,...,2.93,0.56,0.81,0.45,0.27,0.34,5.21,0.42,0.00,0.00
min,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,4.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,9.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,17.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,...,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,110.00,2.00,19.00,6.00,1.00,1.00,1.00,1.00,0.00,21.00,...,105.00,5.00,5.00,12.00,4.00,6.00,116.00,14.00,0.00,0.00

In [28]:
df1.describe()

,MAX_LEVEL,WINS,LOSTS,QUITS,DAY1,DAY2,DAY3,DAY7,DAY28,ATTEMPTS,...,TIME_MIN,EXTRA_MOVES_USED,EXTRA_MOVES_BOUGHT,BOOSTERS_SELECTED,TOOLS_USED,RESHUFFLE,OBJECTIVES_LEFT,OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE,OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE
count,"1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00",...,"1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00","1,065.00"
mean,16.39,7.24,2.51,0.08,0.27,0.06,0.04,0.00,0.00,9.98,...,16.61,0.62,1.04,0.82,0.30,0.55,10.36,0.41,0.00,0.00
std,15.31,7.26,4.14,0.38,0.44,0.24,0.19,0.06,0.00,9.72,...,21.36,1.50,2.14,2.27,0.87,1.17,19.26,1.14,0.00,0.00
min,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,7.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00,...,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,14.00,5.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,7.00,...,10.00,0.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00
75%,22.00,11.00,4.00,0.00,1.00,0.00,0.00,0.00,0.00,14.00,...,20.00,0.00,0.00,0.00,0.00,1.00,13.00,0.00,0.00,0.00
max,110.00,73.00,37.00,6.00,1.00,1.00,1.00,1.00,0.00,110.00,...,272.00,14.00,20.00,20.00,5.00,17.00,163.00,14.00,0.00,0.00

In [26]:
df.UID=df.UID.apply(str)
df1.UID=df1.UID.apply(str)

In [57]:
df.columns

Index(['EVENT_DATE', 'UID', 'LEVEL', 'LEVEL_FILE_NAME', 'WINS', 'LOSTS',
       'QUITS', 'NEXT_DAY', 'DIFF', 'D1', 'D2', 'D3', 'D7', 'D28', 'ATTEMPTS',
       'TIME_SEC', 'TIME_MIN', 'EXTRA_MOVES_USED', 'EXTRA_MOVES_BOUGHT',
       'BOOSTERS_SELECTED', 'TOOLS_USED', 'RESHUFFLE', 'OBJECTIVES_LEFT',
       'OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE',
       'OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE',
       'OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE', 'INSTALL_DATE',
       'VERSION_NAME', 'START_VERSION', 'PLATFORM', 'COUNTRY', 'CITY'],
      dtype='object')

In [63]:
df['TOTAL_TIME_SPENT_ON_LEVELS_SEC'].sum()

1061152.0

In [30]:
linregress(df.WINS,df.D1)

LinregressResult(slope=-0.052454455866098135, intercept=0.08388716137072864, rvalue=-0.06823074665385823, pvalue=6.307062256559034e-10, stderr=0.008474108403707877)

In [32]:
linregress(df1.WINS,df1.DAY1)

LinregressResult(slope=0.011238871401211867, intercept=0.18437515527517156, rvalue=0.18451819993601662, pvalue=1.3054673792819944e-09, stderr=0.0018360938074584714)

In [36]:
linregress(df1.ATTEMPTS,df1.DAY1)

LinregressResult(slope=0.01159850088750568, intercept=0.14994961226753722, rvalue=0.2552252587110027, pvalue=2.6779523753739133e-17, stderr=0.0013476740926990532)

In [38]:
linregress(df1.TIME_MIN,df1.DAY1)

LinregressResult(slope=0.006116582022712575, intercept=0.16414649179744856, rvalue=0.2956263460857125, pvalue=6.368203438768317e-23, stderr=0.0006062342561361365)

In [47]:
#Mixed Lineer Model
md = smf.mixedlm("DAY1 ~ TIME_MIN", df1, groups=df1["UID"])
mdf=md.fit()
print(mdf.summary())

         Mixed Linear Model Regression Results
=======================================================
Model:            MixedLM Dependent Variable: DAY1
No. Observations: 1065    Method:             REML
No. Groups:       593     Scale:              0.1666
Min. group size:  1       Likelihood:         -597.8278
Max. group size:  12      Converged:          Yes
Mean group size:  1.8
--------------------------------------------------------
           Coef.  Std.Err.    z    P>|z|  [0.025  0.975]
--------------------------------------------------------
Intercept  0.150     0.018  8.527  0.000   0.115   0.184
TIME_MIN   0.006     0.001  9.271  0.000   0.005   0.007
Group Var  0.011     0.011
=======================================================

In [66]:
from pandas import DataFrame
from sklearn import linear_model
import statsmodels.api as sm
X = df1[['ATTEMPTS',
       'TIME_MIN', 'EXTRA_MOVES_USED', 'EXTRA_MOVES_BOUGHT',
       'BOOSTERS_SELECTED', 'TOOLS_USED', 'RESHUFFLE', 'OBJECTIVES_LEFT',
       'OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE',
       'OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE',
       'OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE']]
Y = df1['DAY1']
regr = linear_model.LinearRegression()
regr.fit(X, Y)
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 0.1604693925853684
Coefficients:
 [-1.77029675e-05  5.41144447e-03 -8.00011858e-04  4.10381896e-03
 -4.56285322e-03 -1.72992313e-02 -1.27102948e-02  2.46426352e-03
  5.53621276e-03  0.00000000e+00  0.00000000e+00]

In [67]:
model = sm.OLS(Y,X).fit()
predictions = model.predict(X)
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   DAY1   R-squared (uncentered):                   0.292
Model:                            OLS   Adj. R-squared (uncentered):              0.286
Method:                 Least Squares   F-statistic:                              48.39
Date:                Tue, 26 Nov 2019   Prob (F-statistic):                    2.69e-73
Time:                        16:39:35   Log-Likelihood:                         -621.59
No. Observations:                1065   AIC:                                      1261.
Df Residuals:                    1056   BIC:                                      1306.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
ATTEMPTS                                       0.0130      0.003      4.617      0.000       0.007       0.019
TIME_MIN                                       0.0033      0.002      2.145      0.032       0.000       0.006
EXTRA_MOVES_USED                               0.0067      0.018      0.362      0.718      -0.030       0.043
EXTRA_MOVES_BOUGHT                            -0.0022      0.014     -0.155      0.877      -0.030       0.026
BOOSTERS_SELECTED                             -0.0113      0.008     -1.472      0.141      -0.026       0.004
TOOLS_USED                                    -0.0213      0.018     -1.156      0.248      -0.058       0.015
RESHUFFLE                                     -0.0248      0.015     -1.644      0.101      -0.054       0.005
OBJECTIVES_LEFT                                0.0033      0.001      3.441      0.001       0.001       0.005
OBJECTIVES_LEFT_AT_1ST_EXTRAMOVES_PURCHASE     0.0055      0.018      0.306      0.760      -0.030       0.041
OBJECTIVES_LEFT_AT_2ND_EXTRAMOVES_PURCHASE          0          0        nan        nan           0           0
OBJECTIVES_LEFT_AT_3RD_EXTRAMOVES_PURCHASE          0          0        nan        nan           0           0
==============================================================================
Omnibus:                      113.811   Durbin-Watson:                   1.748
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              147.905
Skew:                           0.902   Prob(JB):                     7.64e-33
Kurtosis:                       2.725   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\mhatipoglu\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1755: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
C:\Users\mhatipoglu\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\base\model.py:1294: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
C:\Users\mhatipoglu\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\mhatipoglu\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\mhatipoglu\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [44]:
categorical_df = df.select_dtypes(include=['object']).copy()
print(categorical_df.head())

print(categorical_df.isnull().sum())

print( max(df.EVENT_DATE), min(df.EVENT_DATE))

   EVENT_DATE           UID    NEXT_DAY DIFF INSTALL_DATE VERSION_NAME  \
0  2019-10-11  116635759800  2019-10-11    0   2019-10-11        1.2.2
1  2019-10-06  115377465942  2019-10-06    0   2019-10-06        1.2.2
2  2019-10-07  115528537365  2019-10-07    0   2019-10-07        1.2.2
3  2019-10-06  115347831397  2019-10-06    0   2019-10-06        1.2.2
4  2019-10-05  115173950502  2019-10-05    0   2019-10-05        1.2.2

  START_VERSION PLATFORM COUNTRY          CITY LEVEL_TYPES
0         1.2.2  Android  Canada       Calgary  "Tutorial"
1         1.2.2  Android  Canada        Ottawa  "Tutorial"
2         1.2.2  Android  Canada      Montreal  "Tutorial"
3         1.2.2  Android  Canada  Plessisville  "Tutorial"
4         1.2.2  Android  Canada    Sherbrooke  "Tutorial"
EVENT_DATE       0
UID              0
NEXT_DAY         0
DIFF             0
INSTALL_DATE     0
VERSION_NAME     0
START_VERSION    0
PLATFORM         0
COUNTRY          0
CITY             0
LEVEL_TYPES      0
dtype: int64
/n 2019-11-22 2019-07-30

In [34]:
df1.UID.nunique()

593

In [35]:
df1.UID.count()

1065

In [19]:
df["WIN_RATE"]=df.WIN_COUNT/(df.WIN_COUNT+df.LOST_COUNT+df.QUIT_COUNT)
df.WIN_RATE.describe()

count   14,282.00
mean         0.80
std          0.34
min          0.00
25%          0.50
50%          1.00
75%          1.00
max          1.00
dtype: float64

In [22]:
df.WIN_RATE.median()

1.0